<!DOCTYPE html>
<html>
<head>
	<title>BLOG_APP</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<base href="/">
</head>
<body>
    <div class="ui inverted menu">
        <div class="ui container">
            <a class="item" href="/blogs">
                <i class="code icon"></i>
                Home
            </a>
            <a class="item" href="/blogs/new">
                 Post
            </a>
        </div>
    </div>
    
    <div class="ui container">

